*{
    box-sizing: border-box;
    --main-color:#60c84f;
    --day-size: 70;
}

@font-face{
    font-family: "Lato";
    src: url("Lato.woff2");
}

/* @import url(https://fonts.googleapis.com/css?family=Lato:300); */

html, body {
 height: 100%;
 margin: 0;
 font-size: 2.7em;
 font-family: Lato, sans-serif;
}

body {
  background: #ccc;
  font-family: Lato, sans-serif;
}

button {
  font-size: 1em;
  background: #eee;
  border: solid thin black;
  border-radius: 0px;
}

#top-buttons{
 display: flex;
 
}

#top-buttons button{
 flex: 1;
}

#clear{
 margin: 4vh 0;
}

#main {
 height: 100%;
 display:flex;
 flex-direction: column;   
}



#calendar {
  width: 7 * var(--day_size) + px;
  margin: 0 auto;
  height: 100%;
}  
#calendar h2 {
/*     line-height: 170px; */
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    text-align: center;
  }
  
#calendar table {
    width: 100%;
/*     height: 100%; */
/*     margin-top: -42px; */
/*     border-collapse: collapse; */
}
  
.week-days {
    color: #fff;
    background: var(--main-color);
  }
  
.day {
    width: var(--day_size) + px;
    height: 40px;
    text-align: center;
  }
  
.week .day {
      background: #eee;
}

/* .day:not(.other-month):hover {
        color: #fff;
        background: var(--main-color);
} */
  
.other-month {
  opacity: 0.5;
}

p {
  text-align: center;
}

.day.marked {
 background: pink;
}

#about, #signature{
  font-size: 1rem;
}

#about {
 text-decoration: underline;
}

#bottom-buttons{
 display: flex;
 justify-content: space-between;
 padding: 5px;
}

.modal {
 position: absolute;
 background: #808080e3;
 height: 100%;
 
 display: flex;
 flex-direction: column;
 place-content: center;
 
 overflowX: scroll;
 overflowY: scroll;

 font-size: 1.5rem;

 word-break:break-word;
}

.modal button {
 padding: 20px;
}

.modal div {
 display: flex;
 justify-content: space-around;
}

.modal .text {
 flex-direction: column;
 background: white;
 padding: 15px;
}

.modal button {
 width: 100%;
}


